<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NinePictureDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEFB53AF1D72F76A003C2DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFB53C31D72F76A003C2DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFB53CE1D72F76A003C2DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
